/* =========== navbar =========== */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar_height);
  z-index: 2;
  /* */
  background: var(--navbar_darkBg);
  opacity: 0.98;
  color: var(--navbar_text);
  display: flex;
  justify-content: space-between;
  border-bottom: var(--navbar_border) solid var(--navbar_text);
}

/* button */
.menu_btn {
  display: none;
}

/* logo */
nav .logo {
  color: var(--navbar_text);
  height: 100%;
  width: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
nav .logo:hover {
  color: var(--navbar_accent);
}

/* list */
nav ul {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

nav ul li {
  padding: 0 1rem;
  height: 100%;
}

nav ul li a {
  color: var(--navbar_text);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
  color: var(--navbar_accent);
  transform: translateY(3%);
}

@media (max-width: 1250px) {
  /* button */
  .menu_btn {
    height: calc(var(--navbar_height) - var(--navbar_border));
    width: calc(var(--navbar_height) * 2);
    cursor: pointer;
    display: flex;
    justify-content: center;
  }

  .menu_btn_symbol {
    color: var(--navbar_text);
    font-size: 2rem;
    align-self: center;
    transition: all 0.2s ease-in-out;
    transform: rotate(180deg);
  }

  .menu_btn_symbol:hover {
    color: var(--navbar_accent);
  }

  nav.open .menu_btn_symbol {
    transform: rotate(0) scale(0.8, 0.8);
  }

  /* navlist */
  nav ul {
    position: absolute;
    top: var(--navbar_height);
    left: -100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--navbar_lightBg);
    transition: all 0.2s ease-in-out;
  }

  nav.open ul {
    left: 0;
  }

  nav ul li {
    margin: auto;
    width: 80%;
    height: 3rem;
    border-bottom: 3px solid rgba(0, 0, 0, 0.045);
  }

  nav ul li:last-child {
    border: none;
  }
}
