#landing {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing_background {
  /* size */
  min-width: 100%;
  min-height: 100%;
  padding: 0;
  /* position */
  position: absolute;
  top: 0;
  left: 0;
  /* other */
  object-fit: cover;
  border: 0 solid rgb(255, 255, 255);
  border-radius: 0;
  z-index: -1;
}

#landing h1 {
  all: revert;
  margin: 0;
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
  font-family: "Bitter", serif;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

#landing h3 {
  font-size: 1.5rem;
  padding: 0;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

@media (max-width: 680px) {
  #landing h1 {
    font-size: 2rem;
  }
}
